body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background: #eee;
  padding: 1rem;
  text-align: center;
}

nav {
  background: #333;
  color: #fff;
  padding: 1rem;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.notification {
  background: #ff0;
  padding: 0.5rem;
  margin: 1rem 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
